.wrapper{
    height: 600px;
    display: flex;
    flex-direction: column;
}

.nav{
    height: 100px;
    display: flex;
    justify-content: center;
}

/* .nav-header{

} */

.container{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 350px;
    align-self: center;
    background-image: url('./images/bear.jpg')
}

.butt-hold{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-bottom: 125px;
    background-color: green;
}